body {
    background-color: #ff00ff;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 400px;
    
}

p {
    text-align: center;
    color: #33ff33;
    font-size: 300px;
}

a= href {
    font-size: 200px;
    
}
